<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="static/css/style.css">-->
    <title>Phân Loại Giày</title>
</head>

<body>
    <div>
        <div>
            {% if brand %}
            <div class="text">
                <p> This image most likely belongs to <strong>{{brand}}</strong> </p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="/static/output/bar.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="/static/output/origin_image.png" style="width:100%">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
</body>

</html>